#syncronex-loginScreen {
    display: none !important
}
#syncronex-cover {
    display: none !important
}
header .headline {
    display: block !important
}
.asset-content > * {
    display: block !important
}
.asset-content > .tnt-ads-container {
    display: none !important
}
.asset-info p, .asset-info h4 {
    display: block !important
}
#asset-photo .caption-text p {
    display: block !important;
}
#footer-ad-slot-2 {
    display: none !important
}
.tnt-ads-container {
    display: none
}